@media only screen and (max-width: 600px) {
    .canvas {
        height: 300px;
        width: 600px;
    }
}

@media only screen and (min-width: 600px) {
    .canvas {
        height: 400px;
        width: 600px;
    }
}

@media only screen and (min-width: 768px) {
    .canvas {
        height: auto;
        width: auto;
    }
}

@media only screen and (min-width: 992px) {
    .canvas {
        height: auto;
        width: auto;
    }
}

@media only screen and (min-width: 1200px) {
    .canvas {
        height: 100%;
        width: 100%;
    }
}